

.env

/.claude
.DS_Store
npm-debug.log
yarn-error.log
.git
.gitignore
node_modules
vendor
npm-debug.log
yarn.lock

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

