APP_NAME=SmartStore
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://smartstock.wifizone.tech

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

MONETBIL_SERVICE_KEY=
MONETBIL_SERVICE_SECRET=
MONETBIL_BASE_URL=https://api.monetbil.com/payment/v1
MONETBIL_COUNTRY=CM
MONETBIL_CURRENCY=XAF
MONETBIL_VERIFY_SSL=true
MONETBIL_SEND_OPERATOR=false
MONETBIL_OPERATOR_MTN=CM_MTNMOBILEMONEY
MONETBIL_OPERATOR_ORANGE=CM_ORANGEMONEY
PAYMENT_FAKE_MODE=false
PAYMENT_FAKE_RESULT=success

AVLYTEXT_API_KEY=API Key	VtAcgeFZaF7pPBlJTUPKm7GETkGFBfQYRvnzSnFnzUE8yNb0ozoVWjgsc1ZXQN8q5D82
AVLYTEXT_BASE_URL=https://api.avlytext.com/v1
AVLYTEXT_SENDER=SmartCity
AVLYTEXT_SENDER_MTN=
AVLYTEXT_VERIFY_SSL=true

SOCADEL_TOKEN_API_KEY=
SOCADEL_TOKEN_BASE_URL=https://www.smartcitydouala.com/api/v1
SOCADEL_TOKEN_ENDPOINT=/token/socadel
SOCADEL_TOKEN_VERIFY_SSL=true
SOCADEL_TOKEN_FAKE_MODE=false
