<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    DirectoryIndex index.php
    RewriteEngine On
    RewriteBase /

    RewriteRule ^$ SmartStock/public/index.php [L]

    RewriteCond %{REQUEST_URI} !^/SmartStock/public/
    RewriteCond %{DOCUMENT_ROOT}/SmartStock/public%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/SmartStock/public%{REQUEST_URI} -d
    RewriteRule ^(.*)$ SmartStock/public/$1 [L]

    RewriteCond %{REQUEST_URI} !^/SmartStock/public/
    RewriteRule ^(.*)$ SmartStock/public/index.php [L]
</IfModule>
